{% extends 'base.html' %}
{% load common_extras %}
{% block title %}
    {% if config.is_edit_form %}
        Edit booking
    {% else %}
        Add new booking
    {% endif %}
{% endblock %}
{% load staticfiles %}

{% block css %}
    {% include 'partials/summernote_editor_css_includes.html' %}
{% endblock %}
{% block js %}
    {% include 'partials/summernote_editor_js_includes.html' %}
    {% include 'partials/inject_js_data.html' %}
    {% include 'partials/form_edit_js_includes.html' %}
    {% include 'partials/datepicker_js_includes.html' %}
    {% include 'partials/formset_js_includes.html' %}
    <script type="text/javascript" src="{% static 'js/booking_edit.js' %}"></script>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <form action="{{ config.the_action }}" method="POST" id="booking_edit_form">
        {% crispy form %}
    </form>

{% endblock %}