{% load common_extras %}
<nav class="navbar navbar-default navbar-static-top" id="main_menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">jBook</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar" data-hover="dropdown">
      <ul class="nav navbar-nav">
        {% if request.user|has_group:settings.ADMIN_GROUP %}
            {% include 'admin_menu.html' %}
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{% url 'jbook_logout' %}">Log out {{ user.username }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>