#calendar table {
    width: 100%;
}

#calendar table tr th {
    text-align: center;
    font-size: 16px;
    background-color: #316497;
    color: #99ccff;
}

#calendar table tr td {
    width: 10%;
    border: 1px solid #555;
    vertical-align: top;
    height: 120px;
    padding: 2px;
}

#calendar td.noday {
    background-color: #eee;
}

#calendar td.filled {
    background-color: #99ccff;
}

#calendar td.today {
    border: 4px solid #316497;
}

#calendar .dayNumber {
    font-size: 16px !important;
    font-weight: bold;
}
#calendar a {
    font-size: 10px;
}
 /*blocked off*/
.book_state_0
{
    border-top:2px solid #333;
}
/*cancelled*/
.book_state_1
{
    border-top:2px solid #c50712;
}
/*full paid*/
.book_state_2
{
    border-top:2px solid #0cac3c;
}
/*non agency */
.book_state_3
{
    border-top:2px solid #f8f870;
}
/*partially paid*/
.book_state_4
{
    border-top:2px solid #f6ae31;
}
/*pending approval*/
.book_state_5
{
    border-top:2px solid #a605f8;
}
/*pending payment*/
.book_state_6
{
    border-top:2px solid #532af8;
}
/*suspended*/
.book_state_7
{
    border-top:2px solid #46b8da;
}